# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# ignore settings file as it could contain secrets
settings.yaml

.idea/
data/
.vscode

# Dependency directories (remove the comment below to include it)
vendor/

# Desktop Service Store (macOS)
.DS_Store
._.DS_Store
**/.DS_Store
**/._.DS_Store